{
  "login": "LOGIN", // Пользователь с доступом Администратора МО
  "password": "ПАРОЛЬ",
  "url": "https://ecp.medkirov.ru/", // Адрес сайта ECP
  "threadCount": 10, // Количество одновременных потоков подписывания документов
  "cacheMinutes": 360, // Время до следующей попытки подписания документов, которые не удалось подписать
  "ignoreDocTypes": [ ], // Список игнорируемых типов документов (будут отображаться в логе, но не будут подписываться)
}